<div class="row justify-content-center">

  <div class="col-9 col-md-7 col-10-sm mb-3 mx-0 px-0">
    <form class="form login-form text-center">
      <h2>Login</h2>
        <div class="form-group row d-flex flex-row justify-content-center">
          <input class="form-input col-10" placeholder="email" type="text" id="email-login" />
        </div>
        <div class="form-group row d-flex flex-row justify-content-center">
          <input class="form-input col-10" placeholder='password' type="password" id="password-login" />
        </div>
        <div class="form-group text-center">
          <button class="btn btn-primary" id="login-btn" type="submit">login</button>
        </div>
    </form>
  </div>

  <div class="col-9 col-md-7 col-10-sm mx-0 px-0">
    <form class="form signup-form text-center">
      <h2>Signup</h2>
      <div class="form-group row d-flex flex-row justify-content-center">
        <input class="form-input col-10" placeholder="full name" type="text" id="name-signup" />
      </div>
      <div class="form-group row d-flex flex-row justify-content-center">
        <input class="form-input col-10" placeholder="email" type="text" id="email-signup" />
      </div>
      <div class="form-group row d-flex flex-row justify-content-center">
        <input class="form-input col-10" placeholder="password" type="password" id="password-signup" />
      </div>
      <div class="form-group text-center">
        <button class="btn btn-primary" id="signup-btn" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
