@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Navbar styling */
.navbar-container{
  background-color: #0275d8;
  color: #fff;
  height: auto;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-container a{
color: #fff;
text-decoration: none;
margin: 0 0 0 0.7rem;
font-weight: 500;
}
.navbar-container a:hover{
color: #e6e6e6; /* hover color changed to darker white */ 
text-decoration: underline;
}
.navbar-container a:active{
color: #e6e6e6; /* active color changed to darker white */
text-decoration: underline;
}
.nav-header {
  margin-left: 5rem;
}
.nav-links {
  margin-right: 5rem;
}
.custom-spacing{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-right: 5rem;
}

/* Login/signup form styling */
.form {
background-color: #fff;
border-radius: 5px;
padding: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
margin-bottom: 30px;
}
.form h2 {
color: rgb(72, 133, 237);
font-size: 24px;
margin-bottom: 20px;
}
.form label {
color: rgb(72, 133, 237);
font-weight: bold;
margin-bottom: 10px;
}
.form-input {
border: 1px solid #ccc; /* small border added */
border-radius: 3px;
padding: 10px;
margin-bottom: 20px;
background-color: #f2f2f2;
color: rgb(172, 172, 172);
}
.btn-primary {
background-color: rgb(72, 133, 237);
border: none;
color: #fff;
padding: 10px 20px;
border-radius: 3px;
cursor: pointer;
}
.btn-primary:hover {
background-color: #5B96F5;
}

/* Homepage styling */
.posts-background {
  background-color: #f2f2f2;
  margin: 0 5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.blogpost {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#new-blog-container {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.created-by {
  margin: 1rem 0 0;
}
.author {
  margin: 0.7rem 0;
}
.btn-primary {
  background-color: #0275d8;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
} 
.btn-primary:hover {
  background-color: #5B96F5;
}
.text-muted{
  font-size: .9rem;
}
.delete-emoji{
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* General styling */
a {
  color: #0275d8;
  text-decoration: none !important;
}
.hidden{
  display: none;
}
.vh-100 {
  background-color: #fff;
}
body {
  font-family: 'Roboto', sans-serif;
}


/* Media Queries - Breakpoints */
@media screen and (max-width: 768px) {
  /* Navbar */
  .nav-header {
    margin-left: 1rem;
  }
  .custom-icon{
    margin-right: 1rem;
  }
  .custom-spacing{
    justify-content: center;
  }

  /* Login/signup form */
  .form {
    margin: 0 1rem;
  }

  /* Homepage */
  .posts-background {
    margin: 0 1rem;
  }
}